#box1{
    height: 100px;
    width: 100px;
    background-color: green;
}
#box2{
    /* height: 50px; */
    width:30%;
    background-color:yellow ;
    margin-left: 10%;
    font-size: 2em;
    /*2 times of parent's font size*/
    width: 5rem;
    /*5 times of parent's front size  root size */
    height: 100vh;
    /*vh is the viewport hight */

}